/* Colors */
/* Fonts */
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
/* Breakpoints */
/* Text */
h1, h2, h3, p, li, th, td {
  color: #000;
  text-align: left;
}

p {
  font-size: 1rem;
}

h1.section-header {
  font-size: 2rem;
  overflow-wrap: break-word;
  text-align: center;
}

h2.section-subheader, h3.section-subheader {
  font-size: 1rem;
  margin: 0 0.5rem;
  overflow-wrap: break-word;
}
@media (width >= 600px) {
  h2.section-subheader, h3.section-subheader {
    font-size: 1.5rem;
  }
}

/* Links */
a:link {
  color: #166281;
  text-decoration: underline;
}

a:visited {
  color: #166281;
}

a:hover {
  color: #E85D04;
}

a.button {
  background-color: #d76a3a;
  box-shadow: 2px 2px black;
  color: white;
  display: block;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

/* Navigation */
ul.navigation, ul.pagination, ul.post-controls, ul.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.navigation li, ul.pagination li, ul.post-controls li, ul.breadcrumbs li {
  padding: 0 0.5rem;
}

ul.pagination {
  justify-content: center;
  padding: 1rem 0 0;
}

ul.breadcrumbs {
  margin: 1rem 0;
}
ul.breadcrumbs li a {
  padding-left: 0.75rem;
}
ul.breadcrumbs li::before {
  content: "<";
}

ul.post-controls {
  padding-left: 1rem;
}
ul.post-controls li {
  padding-left: 0;
}

.message-box {
  background-color: #FFF;
  border: 2px solid #DDD;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 3rem;
  padding: 1rem 0;
}
.message-box p {
  margin: 0 2rem;
}
.message-box ul.errors {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}
.message-box ul.errors li {
  color: #DC0139;
}

/* Containers */
body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header, #content, #footer {
  font-family: "OpenSans-Regular", serif;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}

#header {
  padding: 1rem 1rem 0 1rem;
}
#header .branding {
  display: flex;
}
#header .branding .logo img {
  height: 80px;
  width: 80px;
}
#header .branding .site-name {
  font-size: 2rem;
  margin-left: 1rem;
}
#header .branding .site-name .tagline {
  font-size: 1.4rem;
}
#header ul.navigation {
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 2rem;
}
#header ul.navigation li {
  flex: 1;
  text-align: center;
}
@media (width >= 600px) {
  #header ul.navigation li {
    flex: none;
    text-align: left;
  }
}
@media (width >= 600px) {
  #header {
    display: flex;
  }
}

#content {
  padding: 1rem 1rem 0 1rem;
}

#footer {
  padding: 3rem 0;
}

#install-warning {
  background-color: #fbfbfb;
  border: 1px solid #DDD;
  color: #DC0139;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 4rem;
  padding: 0.5rem;
  text-align: center;
}

/* Includes */
body.tincan.front .board-group h2 {
  background-color: #c9cebd;
  margin: 0;
}
body.tincan.front .board-group h2 a {
  color: #000;
  display: block;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
body.tincan.front .board-group ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
body.tincan.front .board-group ul li {
  background-color: #FFF;
  border-bottom: 2px solid #DDD;
  padding: 1rem;
}
body.tincan.front .board-group ul li h3, body.tincan.front .board-group ul li p {
  margin: 0 0.5rem;
}

body.tincan.board-group #content .board-preview {
  background-color: #FFF;
  border-bottom: 2px solid #DDD;
  padding: 0.5rem 0;
}
body.tincan.board-group #content .board-preview h2, body.tincan.board-group #content .board-preview p {
  margin: 0 1rem;
}
body.tincan.board-group #content .board-preview h2 {
  font-size: 1.25rem;
}

body.tincan.board #content .thread-preview {
  background-color: #FFF;
  border-bottom: 2px solid #DDD;
  padding: 1rem;
}
body.tincan.board #content .thread-preview h2, body.tincan.board #content .thread-preview span.thread-meta {
  margin: 0 0.5rem;
}
body.tincan.board #board-navigation {
  padding: 1rem 0;
}
body.tincan.board #board-navigation ul.navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
body.tincan.board #board-navigation ul.navigation li {
  flex: 1;
}

body.tincan #footer {
  text-align: center;
}

/* Colors */
body.tincan form#create-account, body.tincan form#log-in, body.tincan form#set-password {
  width: 400px;
}
body.tincan form#create-account, body.tincan form#log-in, body.tincan form#create-thread, body.tincan form#post-reply, body.tincan form#update-post, body.tincan form#report-post, body.tincan form#set-password, body.tincan form#forum-settings {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
body.tincan form#create-account .fieldset, body.tincan form#log-in .fieldset, body.tincan form#create-thread .fieldset, body.tincan form#post-reply .fieldset, body.tincan form#update-post .fieldset, body.tincan form#report-post .fieldset, body.tincan form#set-password .fieldset, body.tincan form#forum-settings .fieldset {
  flex: 1;
  margin: 0.5rem 0;
}
@media (width >= 600px) {
  body.tincan form#create-account .fieldset, body.tincan form#log-in .fieldset, body.tincan form#create-thread .fieldset, body.tincan form#post-reply .fieldset, body.tincan form#update-post .fieldset, body.tincan form#report-post .fieldset, body.tincan form#set-password .fieldset, body.tincan form#forum-settings .fieldset {
    display: flex;
  }
}
body.tincan form#create-account .fieldset.button, body.tincan form#log-in .fieldset.button, body.tincan form#create-thread .fieldset.button, body.tincan form#post-reply .fieldset.button, body.tincan form#update-post .fieldset.button, body.tincan form#report-post .fieldset.button, body.tincan form#set-password .fieldset.button, body.tincan form#forum-settings .fieldset.button {
  padding-top: 1rem;
  justify-content: flex-end;
}
body.tincan form#create-account .field, body.tincan form#log-in .field, body.tincan form#create-thread .field, body.tincan form#post-reply .field, body.tincan form#update-post .field, body.tincan form#report-post .field, body.tincan form#set-password .field, body.tincan form#forum-settings .field {
  background-color: #F1F1F1;
  flex: 1.5;
  padding: 0.25rem;
}
body.tincan form#create-account label, body.tincan form#log-in label, body.tincan form#create-thread label, body.tincan form#post-reply label, body.tincan form#update-post label, body.tincan form#report-post label, body.tincan form#set-password label, body.tincan form#forum-settings label {
  background-color: #c9cebd;
  color: #000;
  display: block;
  flex: 1;
  padding: 0.25rem 0.5rem;
}
@media (width >= 600px) {
  body.tincan form#create-account label, body.tincan form#log-in label, body.tincan form#create-thread label, body.tincan form#post-reply label, body.tincan form#update-post label, body.tincan form#report-post label, body.tincan form#set-password label, body.tincan form#forum-settings label {
    max-width: 240px;
  }
}
body.tincan form#create-account .fieldset.textarea, body.tincan form#log-in .fieldset.textarea, body.tincan form#create-thread .fieldset.textarea, body.tincan form#post-reply .fieldset.textarea, body.tincan form#update-post .fieldset.textarea, body.tincan form#report-post .fieldset.textarea, body.tincan form#set-password .fieldset.textarea, body.tincan form#forum-settings .fieldset.textarea {
  display: block;
}
body.tincan form#create-account .fieldset.textarea label, body.tincan form#log-in .fieldset.textarea label, body.tincan form#create-thread .fieldset.textarea label, body.tincan form#post-reply .fieldset.textarea label, body.tincan form#update-post .fieldset.textarea label, body.tincan form#report-post .fieldset.textarea label, body.tincan form#set-password .fieldset.textarea label, body.tincan form#forum-settings .fieldset.textarea label {
  max-width: none !important;
}
body.tincan form#create-account .fieldset.textarea .field, body.tincan form#log-in .fieldset.textarea .field, body.tincan form#create-thread .fieldset.textarea .field, body.tincan form#post-reply .fieldset.textarea .field, body.tincan form#update-post .fieldset.textarea .field, body.tincan form#report-post .fieldset.textarea .field, body.tincan form#set-password .fieldset.textarea .field, body.tincan form#forum-settings .fieldset.textarea .field {
  flex: none;
}
@media (width >= 600px) {
  body.tincan form#create-account .fieldset.textarea .field textarea, body.tincan form#log-in .fieldset.textarea .field textarea, body.tincan form#create-thread .fieldset.textarea .field textarea, body.tincan form#post-reply .fieldset.textarea .field textarea, body.tincan form#update-post .fieldset.textarea .field textarea, body.tincan form#report-post .fieldset.textarea .field textarea, body.tincan form#set-password .fieldset.textarea .field textarea, body.tincan form#forum-settings .fieldset.textarea .field textarea {
    width: 100%;
  }
}
@media (width >= 600px) {
  body.tincan form#create-account input.text-input, body.tincan form#log-in input.text-input, body.tincan form#create-thread input.text-input, body.tincan form#post-reply input.text-input, body.tincan form#update-post input.text-input, body.tincan form#report-post input.text-input, body.tincan form#set-password input.text-input, body.tincan form#forum-settings input.text-input {
    width: 100%;
  }
}
body.tincan form#create-account input.submit-button, body.tincan form#log-in input.submit-button, body.tincan form#create-thread input.submit-button, body.tincan form#post-reply input.submit-button, body.tincan form#update-post input.submit-button, body.tincan form#report-post input.submit-button, body.tincan form#set-password input.submit-button, body.tincan form#forum-settings input.submit-button {
  background-color: #c9cebd;
  box-shadow: 2px 2px #838e83;
  color: #000;
  display: inline-block;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

/* Colors */
body.tincan.thread .post {
  background-color: #FFF;
  border-bottom: 2px solid #DDD;
  display: block;
}
@media (width >= 600px) {
  body.tincan.thread .post {
    display: flex;
  }
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user, body.tincan.thread .post .post-content {
    flex: 1 auto;
  }
}
body.tincan.thread .post .post-user {
  background-color: #e6e8e6;
  color: #000;
  display: flex;
  flex-direction: row-reverse;
  min-width: 200px;
  padding: 0.5rem 0;
  justify-content: flex-end;
  text-align: center;
}
body.tincan.thread .post .post-user h3.username {
  display: flex;
  color: #000;
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user h3.username {
    display: block;
  }
}
body.tincan.thread .post .post-user .role {
  background-color: #fbfbfb;
  border: 1px solid #DDD;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  height: 1rem;
  margin: 0 0.5rem 0;
  padding: 0.4rem 1rem;
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user .role {
    display: block;
    margin-top: 1rem;
  }
}
body.tincan.thread .post .post-user .profile-image {
  margin: 0 1rem;
}
body.tincan.thread .post .post-user .profile-image img {
  height: 48px;
  width: 48px;
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user .profile-image img {
    height: 120px;
    margin: 0 1rem;
    width: 120px;
  }
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user .profile-image {
    margin: 0;
    padding: 1rem;
  }
}
body.tincan.thread .post .post-user .joined {
  display: none;
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user .joined {
    display: block;
  }
}
@media (width >= 600px) {
  body.tincan.thread .post .post-user {
    display: block;
    padding: 1rem 0;
  }
}
@media (width >= 600px) {
  body.tincan.thread .post .post-content {
    flex: 1 100%;
  }
}
body.tincan.thread .post .date {
  padding: 0.5rem 1rem 0;
}
body.tincan.thread .post .content {
  overflow-wrap: break-word;
  padding: 1rem;
}
body.tincan.thread .post .post-controls {
  padding-bottom: 1rem;
}
body.tincan.thread .post .attachments {
  border: 1px solid #DDD;
  margin: 1rem;
}
body.tincan.thread .post .attachments ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 1.5rem 1rem;
  padding: 0;
}
body.tincan.thread .post .attachments ul li {
  padding: 0 0.5rem;
}
body.tincan.thread .post .attachments ul li img {
  border: 1px solid #DDD;
  height: 150px;
  width: 150px;
}
body.tincan.thread .post:nth-child(even) {
  background-color: #fbfbfb;
}

body.tincan.thread {
  display: block;
}
body.tincan.thread #thread-navigation {
  padding: 1rem 0;
}
body.tincan.thread #thread-navigation ul.navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
body.tincan.thread #thread-navigation ul.navigation li {
  flex: 1;
}
body.tincan.thread .thread-notice {
  background-color: #fbfbfb;
  border: 1px solid #DDD;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

/* Colors */
@media (width >= 600px) {
  body.tincan.user #user-profile {
    display: flex;
  }
}
body.tincan.user #user-info {
  background-color: #e6e8e6;
  text-align: center;
}
body.tincan.user #user-info .profile-image {
  padding: 1rem 0 0;
}
body.tincan.user #user-info .profile-image img {
  height: 48px;
  width: 48px;
}
@media (width >= 600px) {
  body.tincan.user #user-info .profile-image img {
    height: 220px;
    margin: 0 1rem;
    width: 220px;
  }
}
body.tincan.user #user-info .joined {
  color: #000;
  padding: 0 0 1rem;
}
@media (width >= 600px) {
  body.tincan.user #user-info {
    flex: 0.5;
    max-width: 300px;
    padding: 1rem;
  }
}
body.tincan.user #user-posts {
  margin: 0 2rem;
}
body.tincan.user #user-posts ul.post-list {
  list-style-type: none;
  padding: 0;
}
@media (width >= 600px) {
  body.tincan.user #user-posts {
    flex: 1;
    padding: 0 0 0 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
