// Tin Can theme thread style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

body.tincan.thread {
    display: block;

    #thread-navigation {
        padding: 1rem 0;

        ul.navigation {
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          li {
            flex: 1;
          }
        }
    }

    .thread-notice {
      background-color: $section-alt;
      border: 1px solid $section-border;
      margin-top: 2rem;
      padding: 1rem;
      text-align: center;
    }
}
