// Tin Can theme forms style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$form-field: #F1F1F1;
$form-field-label: #295C7A;
$form-field-label-text: #FFF;
$button: #D76A3A;
$button-text: #FFF;
$button-shadow: #000;

body.tincan {
  form#create-account, form#log-in, form#set-password {
    width: 400px;
  }

  form#create-account, form#log-in, form#create-thread, form#post-reply, form#update-post, form#set-password, form#forum-settings {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 3rem;

    .fieldset {
      display: flex;
      flex: 1;
      margin: 0.5rem 0;
    }

    .fieldset.button {
      padding-top: 1rem;
      justify-content: flex-end;
    }

    .field {
      background-color: $form-field;
      flex: 1.5;
      padding: 0.25rem;
    }

    label {
      background-color: $form-field-label;
      color: $form-field-label-text;
      display: block;
      flex: 1;
      max-width: 240px;
      padding: 0.25rem 0.5rem;
    }

    .fieldset.textarea {
      display: block;

      label {
        max-width: none !important;
      }

      .field {
        flex: none;

        textarea {
          width: 100%;
        }
      }
    }

    input.text-input {
      width: 100%;
    }

    input.submit-button {
      background-color: $button;
      box-shadow: 2px 2px $button-shadow;
      color: $button-text;
      display: inline-block;
      font-weight: bold;
      padding: 0.25rem 0.5rem;
      text-decoration: none;
    }
  }

}
