// Tin Can theme forms style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$formField: #F1F1F1;
$formFieldLabel: #295C7A;
$formFieldLabelText: #FFFFFF;

$button: #D76A3A;
$buttonText: #FFFFFF;
$buttonShadow: #000000;

body.tincan {

  form#create-account, form#log-in, form#set-password {
    width: 400px;
  }

  form#create-account, form#log-in, form#create-thread, form#post-reply, form#update-post, form#set-password, form#forum-settings {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding-top: 3rem;

    .fieldset {
      display: flex;
      flex: 1;
      margin: 0.5rem 0 0.5rem 0;
    }

    .fieldset.button {
      padding-top: 1rem;
      justify-content: flex-end;
    }

    .fieldset.textarea {
      display: block;

      label {
        max-width: none !important;
      }

      .field {
        flex: none;

        textarea {
          width: 100%;
        }
      }
    }

    .field {
      background-color: $formField;
      flex: 1.5;
      padding: 0.25rem;
    }

    label {
      background-color: $formFieldLabel;
      color: $formFieldLabelText;
      display: block;
      flex: 1;
      max-width: 240px;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }

    input.text-input {
      width: 100%;
    }

    input.submit-button {
      background-color: $button;
      box-shadow: 2px 2px $buttonShadow;
      color: $buttonText;
      display: inline-block;
      font-weight: bold;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      text-decoration: none;
    }
  }

}
