// Tin Can theme user style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$user-info: #e6e8e6;
$user-info-text: #000;

body.tincan.user {
  #user-profile {
    @include for-tablet-portrait-up {
      display: flex;
    }
  }

  #user-info {
    background-color: $user-info;
    text-align: center;

    .profile-image {
      padding: 1rem 0 0;

      img {
        height: 48px;
        width: 48px;

        @include for-tablet-portrait-up {
          height: 220px;
          margin: 0 1rem;
          width: 220px;
        }
      }
    }

    .joined {
      color: $user-info-text;
      padding: 0 0 1rem;
    }

    @include for-tablet-portrait-up {
      flex: 0.5;
      max-width: 300px;
      padding: 1rem;
    }
  }

  #user-posts {
    margin: 0 2rem;

    ul.post-list {
      list-style-type: none;
      padding: 0;
    }

    @include for-tablet-portrait-up {
      flex: 1;
      padding: 0 0 0 2rem;
    }
  }

}
