// Tin Can theme post style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$post-user: #748499;
$post-user-text: #FFF;

body.tincan.thread {
  .post {
    background-color: $section;
    border-bottom: 2px solid $sectionBorder;
    display: block;

    @include for-tablet-portrait-up {
      display: flex;
    }

    .post-user, .post-content {
      @include for-tablet-portrait-up {
        flex: 1 auto;
      }
    }

    .post-user {
      background-color: $post-user;
      color: $post-user-text;
      display: flex;
      flex-direction: row-reverse;
      padding: 0.5rem 0;
      justify-content: flex-end;
      text-align: center;

      h3.username {
        font-size: 1.25rem;
        color: $post-user-text;
        margin: 0;
        text-align: center;
      }

      .profile-image {
        margin: 0 1rem;

        img {
          height: 48px;
          width: 48px;

          @include for-tablet-portrait-up {
            height: 120px;
            margin: 0 1rem;
            width: 120px;
          }
        }

        @include for-tablet-portrait-up {
          margin: 0;
          padding: 1rem;
        }
      }

      .joined {
        display: none;

        @include for-tablet-portrait-up {
          display: block;
        }
      }

      @include for-tablet-portrait-up {
        display: block;
        padding: 1rem 0;
      }
    }

    .post-content {
      @include for-tablet-portrait-up {
        flex: 1 100%;
      }
    }

    .date {
      padding: 0.5rem 1rem 0;
    }

    .content {
      padding: 1rem;
    }
  }

  .post:nth-child(even) {
    background-color: $sectionAlt;
  }

}
