// Tin Can theme style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$page: #FFF;
$section: #FFF;
$section-alt: #fbfbfb;
$section-header: #c9cebd;
$section-header-border: #838e83;
$section-header-text: #000;
$section-border: #DDD;
$form-field-label: #ccd5ae;
$form-field-label-text: #000;
$form-field: #F1F1F1;
$text: #000;
$header-text: #000;
$link-text: #166281;
$link-text-hover: #E85D04;
$error-text: #DC0139;

/* Fonts */

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

$open-sans-regular: 'OpenSans-Regular';

/* Breakpoints */

@mixin for-phone-only {
  @media (max-width <= 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (width >= 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (width >= 900px) { @content; }
}

@mixin for-desktop-up {
  @media (width >= 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (width >= 1800px) { @content; }
}

/* Text */

h1, h2, h3, p, li, th, td {
  color: $text;
  text-align: left;
}

p {
  font-size: 1rem;
}

h1.section-header {
  background-color: $section-header;
  border: solid $section-header-border;
  border-width: 0 2px 2px 0;
  color: $section-header-text;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;

  @include for-tablet-portrait-up {
    font-size: 2rem;
  }
}

h2.section-subheader, h3.section-subheader {
  font-size: 1rem;
  margin: 0 0.5rem;

  @include for-tablet-portrait-up {
    font-size: 1.5rem;
  }
}

/* Links */

a:link {
  color: $link-text;
  text-decoration: underline;
}

a:visited {
  color: $link-text;
}

a:hover {
  color: $link-text-hover;
}

a.button {
  background-color: #d76a3a;
  box-shadow: 2px 2px black;
  color: white;
  display: block;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

/* Navigation */

ul.navigation, ul.pagination, ul.post-controls, ul.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0 0.5rem;
  }
}

ul.pagination {
  justify-content: center;
  padding: 1rem 0 0;
}

ul.breadcrumbs {
  margin: 1rem 0;

  li.home a {
    @include for-tablet-portrait-up {
      padding-left: 1rem;
    }
  }

  li.subpage a {
    padding-left: 1rem;
  }

  li.home::before {
    @include for-tablet-portrait-up {
      content: '\2616';
    }
  }

  li.subpage::before {
    content: '\21D2';
  }
}

ul.post-controls {
  padding-left: 1rem;

  li {
    padding-left: 0;
  }
}

.message-box {
  background-color: $section;
  border: 2px solid $section-border;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 3rem;
  padding: 1rem 0;

  p {
    margin: 0 2rem;
  }

  ul.errors {
    list-style: none;
    margin: 0 1rem;
    padding: 0;

    li {
      color: $error-text;
    }
  }
}

.tc-code {
  table {
    th {
      background-color: $section-header;
      color: $section-header-text;
    }

    tr:nth-child(even) {
      background-color: $section-alt;
    }

    th, td {
      padding: 1rem;
    }

    td {
      h1, h2, h3, h4, h5 {
        line-height: 100%;
        margin: 0;
      }
    }
  }
}

/* Containers */

body {
  background-color: $page;
  margin: 0;
  padding: 0;
}

#header, #content, #footer {
  font-family: $open-sans-regular, serif;
}

#header {
  position: relative;

  h1 {
    margin: 0;
    padding-top: 1rem;
    text-align: center;

    @include for-tablet-portrait-up {
      padding-top: 3rem;
    }
  }

  ul.navigation {
    padding-top: 1rem;

    @include for-tablet-portrait-up {
      padding: 0;
      position: absolute;
      right: 2rem;
      top: 1rem;
    }

    li {
      flex: 1;
      text-align: center;

      @include for-tablet-portrait-up {
        flex: none;
        text-align: left;
      }
    }
  }

  .logo {
    text-align: center;
    padding-top: 2rem;

    img {
      height: 80px;
      width: 80px;
    }

    @include for-tablet-portrait-up {
      left: 2rem;
      padding: 0;
      position: absolute;
      top: 1rem;
    }
  }
}

#content {
  margin: 0;
  padding-top: 1rem;

  @include for-tablet-portrait-up {
    margin: 0 2rem;
  }
}

#footer {
  padding: 3rem 0;
}

/* Includes */

@import '_tc-board-group';
@import '_tc-board';
@import '_tc-footer';
@import '_tc-forms';
@import '_tc-post';
@import '_tc-thread';
@import '_tc-user';
