// Tin Can theme style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$page: #FFF;
$section: #FFF;
$section-alt: #fbfbfb;
$section-header: #c9cebd;
$section-header-border: #838e83;
$section-header-text: #000;
$section-border: #DDD;
$form-field-label: #ccd5ae;
$form-field-label-text: #000;
$form-field: #F1F1F1;
$text: #000;
$header-text: #000;
$link-text: #166281;
$link-text-hover: #E85D04;
$error-text: #DC0139;

/* Fonts */

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

$open-sans-regular: 'OpenSans-Regular';

/* Breakpoints */

@mixin for-phone-only {
  @media (max-width <= 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (width >= 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (width >= 900px) { @content; }
}

@mixin for-desktop-up {
  @media (width >= 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (width >= 1800px) { @content; }
}

/* Text */

h1, h2, h3, p, li, th, td {
  color: $text;
  text-align: left;
}

p {
  font-size: 1rem;
}

h1.section-header {
  font-size: 2rem;
  text-align: center;
}

h2.section-subheader, h3.section-subheader {
  font-size: 1rem;
  margin: 0 0.5rem;

  @include for-tablet-portrait-up {
    font-size: 1.5rem;
  }
}

/* Links */

a:link {
  color: $link-text;
  text-decoration: underline;
}

a:visited {
  color: $link-text;
}

a:hover {
  color: $link-text-hover;
}

a.button {
  background-color: #d76a3a;
  box-shadow: 2px 2px black;
  color: white;
  display: block;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

/* Navigation */

ul.navigation, ul.pagination, ul.post-controls, ul.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0 0.5rem;
  }
}

ul.pagination {
  justify-content: center;
  padding: 1rem 0 0;
}

ul.breadcrumbs {
  margin: 1rem 0;

  li {
    a {
      padding-left: 0.75rem;
    }
  }

  li::before {
    content: '\003C';
  }
}

ul.post-controls {
  padding-left: 1rem;

  li {
    padding-left: 0;
  }
}

.message-box {
  background-color: $section;
  border: 2px solid $section-border;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 3rem;
  padding: 1rem 0;

  p {
    margin: 0 2rem;
  }

  ul.errors {
    list-style: none;
    margin: 0 1rem;
    padding: 0;

    li {
      color: $error-text;
    }
  }
}

/* Containers */

body {
  background-color: $page;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header, #content, #footer {
  font-family: $open-sans-regular, serif;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}

#header {
  padding: 1rem 1rem 0 1rem;

  .branding {
    display: flex;

    .logo {

      img {
        height: 80px;
        width: 80px;
      }
    }

    .site-name {
      font-size: 2rem;
      margin-left: 1rem;

      .tagline {
        font-size: 1.4rem;
      }
    }
  }

  ul.navigation {
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 2rem;

    li {
      flex: 1;
      text-align: center;

      @include for-tablet-portrait-up {
        flex: none;
        text-align: left;
      }
    }
  }

  @include for-tablet-portrait-up {
    display: flex;
  }
}

#content {
  padding: 1rem 1rem 0 1rem;
}

#footer {
  padding: 3rem 0;
}

#install-warning {
  background-color: $section-alt;
  border: 1px solid $section-border;
  color: $error-text;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 4rem;
  padding: 0.5rem;
  text-align: center;
}

/* Includes */

@import '_tc-board-group';
@import '_tc-board';
@import '_tc-footer';
@import '_tc-forms';
@import '_tc-post';
@import '_tc-thread';
@import '_tc-user';
