// Tin Can theme style sheet.
// @author Dan Ruscoe
// @email danruscoe@protonmail.com

/* Colors */

$page: #FFFFFF;
$section: #F1F1F1;
$sectionAlt: #EEEEEE;
$sectionHeader: #295C7A;
$sectionHeaderText: #FFFFFF;
$sectionBorder: #DDDDDD;

$text: #6B6666;
$headerText: #6B6666;
$linkText: #123266;
$linkTextHover: #D76A3A;

/* Fonts */

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

$openSansRegular: 'OpenSans-Regular';

/* Breakpoints */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/* Containers */

body {
  background-color: $page;
  margin: 0;
  padding: 0;
}

#header, #content {
  font-family: $openSansRegular, serif;
}

#content {
  margin: 0 2rem 0 2rem;
}

/* Text */

h1, h2, h3, p, li, th, td {
  color: $text;
}

h1, h2, h3 {
  clear: both;
  color: $headerText;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

/* Links */

a:link {
  color: $linkText;
  text-decoration: underline;
}

a:visited {
  color: $linkText;
}

a:hover {
  color: $linkTextHover;
}

/* Includes */

@import '_tc-board-group';
@import '_tc-board';
@import '_tc-footer';
@import '_tc-post';
@import '_tc-thread';
