/* Colors */
/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
/* Breakpoints */
/* Containers */
/* line 56, ../sass/style.scss */
body.tincan-admin {
  background-color: white;
  margin: 0;
  padding: 0;
  /* Navigation */
  /* Text */
  /* Links */
  /* Tables */
}
/* line 71, ../sass/style.scss */
body.tincan-admin #header, body.tincan-admin #navigation, body.tincan-admin #content, body.tincan-admin #footer {
  font-family: "OpenSans-Regular", serif;
}
/* line 75, ../sass/style.scss */
body.tincan-admin #header {
  position: relative;
}
/* line 78, ../sass/style.scss */
body.tincan-admin #header h1 {
  padding-top: 3rem;
  text-align: center;
}
/* line 83, ../sass/style.scss */
body.tincan-admin #header ul.navigation {
  position: absolute;
  right: 2rem;
  top: 0;
  list-style: none;
  padding: 0;
}
/* line 90, ../sass/style.scss */
body.tincan-admin #header ul.navigation li {
  padding: 0 0.5rem 0 0.5rem;
}
@media (min-width: 600px) {
  /* line 83, ../sass/style.scss */
  body.tincan-admin #header ul.navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
/* line 104, ../sass/style.scss */
body.tincan-admin #content {
  flex: 1;
  margin: 0 2rem 0 2rem;
  padding-top: 1rem;
}
@media (min-width: 600px) {
  /* line 104, ../sass/style.scss */
  body.tincan-admin #content {
    margin-left: 240px;
  }
}
/* line 114, ../sass/style.scss */
body.tincan-admin #footer {
  padding: 3rem 0 3rem 0;
  text-align: center;
}
/* line 120, ../sass/style.scss */
body.tincan-admin #navigation {
  background-color: #404040;
}
/* line 123, ../sass/style.scss */
body.tincan-admin #navigation ul {
  flex-direction: column;
  list-style: none;
  padding: 0;
}
/* line 130, ../sass/style.scss */
body.tincan-admin #navigation ul li a {
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem 0.25rem 0.85rem;
  text-decoration: none;
}
@media (min-width: 600px) {
  /* line 120, ../sass/style.scss */
  body.tincan-admin #navigation {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 220px;
  }
}
/* line 152, ../sass/style.scss */
body.tincan-admin h1, body.tincan-admin h2, body.tincan-admin h3, body.tincan-admin p, body.tincan-admin li, body.tincan-admin th, body.tincan-admin td {
  color: #6b6666;
  text-align: left;
}
/* line 157, ../sass/style.scss */
body.tincan-admin h1.section-header {
  background-color: #295c7a;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
/* line 165, ../sass/style.scss */
body.tincan-admin h2.section-subheader, body.tincan-admin h3.section-subheader {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
}
/* line 172, ../sass/style.scss */
body.tincan-admin a:link {
  color: #123266;
  text-decoration: underline;
}
/* line 177, ../sass/style.scss */
body.tincan-admin a:visited {
  color: #123266;
}
/* line 181, ../sass/style.scss */
body.tincan-admin a:hover {
  color: #d76a3a;
}
/* line 189, ../sass/style.scss */
body.tincan-admin table.objects th {
  background-color: #295c7a;
  color: white;
}
/* line 194, ../sass/style.scss */
body.tincan-admin table.objects tr:nth-child(even) {
  background-color: #eeeeee;
}
/* line 198, ../sass/style.scss */
body.tincan-admin table.objects th, body.tincan-admin table.objects td {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
/* line 202, ../sass/style.scss */
body.tincan-admin table.objects a {
  text-decoration: none;
}
